<!DOCTYPE html>
<html lang="en">
<head>

    <title>Hima Hasanthi's Portfolio</title>
    
    <link rel="stylesheet" media="all" href="css/app.css">
    <style>
      .framer,.xd{
        width: 500px;
      }
    </style>
    <link rel="stylesheet" href="../../VGPTsyNceGz7.com/ajax/libs/font-awesome/9gPRs10L0QE2.1/css/UChefdkqehwN.css" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script>
      var viewportmeta = document.querySelector('meta[name="viewport"]');
      if (viewportmeta) {
        if (screen.width < 375) {
          var newScale = screen.width / 375;
          viewportmeta.content = 'width=375, minimum-scale=' + newScale + ', maximum-scale=1.0, user-scalable=no, initial-scale=' + newScale + '';
        } else {
          viewportmeta.content = 'width=device-width, maximum-scale=1.0, initial-scale=1.0';
        }
      }
    </script>
  </head>
  <body>
    <div class="page">
      <div class="main">
        <div class="header js-header" id="header">
          <div class="header__center center">
            <a class="header__logo" href="index.htmlf">
              
            </a>
            <div class="header_social header_social_main">
              <a class="header__link" href="https://www.linkedin.com/in/himahasanthikolla/">
                <i class="fa-brands fa-linkedin"></i>LinkedIn
              </a>
            </div>
          </div>
          
        </div>
        <div class="main__bg">
          <img class="main__pic" src="img/bg-main.jpg" alt="">
        </div>
        <div class="main__center center">
          <div class="main__wrap">
            <div class="main__stage stage" data-aos="transform">About me</div>
            <h1 class="main__title title h1">
              <span data-aos="transform" data-aos-delay="150">Hello, my</span>
              <span data-aos="transform" data-aos-delay="300">name's Hima Hasanthi</span>
              <span data-aos="transform" data-aos-delay="450">I'm a Developer</span>
              <span data-aos="transform" data-aos-delay="600">and Designer.</span>
            </h1>
            <a class="scroll js-scroll" href="#details" data-aos="transform">
              <div class="scroll__icon">
                <img class="scroll__pic" src="img/scroll.svg" alt="">
              </div>
              <div class="scroll__text">Scroll down</div>
            </a>
          </div>
        </div>
        <div class="main__view" data-aos="">
          <div class="main__preview">
            <img class="main__pic" src="img/main-pic-6.png" alt="">
          </div>
          <div class="main__preview">
            <img class="main__pic js-parallax" data-scale="2.5" data-orientation="up" src="img/main-pic-1.png" alt="">
          </div>
        </div>
        <div class="main__figures">
          <div class="main__figure" data-aos="animation-translate-y">
            <img class="main__pic js-parallax" data-scale="2.2" data-orientation="down" src="img/figure-1.png" alt="">
          </div>
        </div>
      </div>
      <div class="details" id="details">
        <div class="details__center center">
          <div class="details__head" data-aos="animation-scale-y">
            <div class="details__stage stage">What I Do</div>
            <h3 class="details__info h3">
              I enjoy creating delightful, <br>human-centered digital experiences.
            </h3>
          </div>
          <h2 class="details__title" data-aos="animation-scale-y">Think. Make. <br>Solve. </h2>
          <div class="details__btn" data-aos="animation-translate-y">
            <a href="#contacts" class="js-scroll">
              <button class="btn btn_purple"><span class="btn__text">Contact Me</span>
                <svg class="icon icon-arrow-right">
                  <use xlink:href="img/sprite.svg#icon-arrow-right"></use>
                </svg>
              </button>
            </a>
          </div>
          <div class="details__container">
            <div class="details__stage stage">Skills</div><br>
            <div class="details__slider owl-carousel js-slider-details">
              <div class="details__item">
                <div class="details_preview details_preview_cursor" data-aos="animation-scale">
                  <div class="details_img"><img class="details_pic" src="img/Figma%20icon.png" alt=""></div>
                </div>
                <h5 class="details__category h5" data-aos="animation-scale-y">HTML & CSS</h5>
                <div class="details__text" data-aos="animation-scale-y">Developed responsive web interfaces using HTML and CSS.</div>
              </div>
              <div class="details__item">
                <div class="details_preview details_preview_hand" data-aos="animation-scale" data-aos-delay="150">
                  <div class="details_img"><img class="details_pic xd" src="img/hand.png" alt=""></div>
                </div>
                <h5 class="details__category h5" data-aos="animation-scale-y" data-aos-delay="150">JavaScript & React.js</h5>
                <div class="details__text" data-aos="animation-scale-y" data-aos-delay="150">Skilled in building dynamic and scalable web applications using JavaScript and React.js.</div>
              </div>
              <div class="details__item">
                <div class="details_preview details_preview_color" data-aos="animation-scale" data-aos-delay="300">
                  <div class="details_img"><img class="details_pic framer" src="img/color-picker.png" alt=""></div>
                </div>
                <h5 class="details__category h5" data-aos="animation-scale-y" data-aos-delay="300">Next.js & Azure</h5>
                <div class="details__text" data-aos="animation-scale-y" data-aos-delay="300">Experienced with Next.js and deploying applications using Azure.</div>
              </div>
              <div class="details__item">
                <div class="details_preview details_preview_cursor">
                  <div class="details_img"><img class="details_pic" src="img/spline%201.png" alt=""></div>
                </div>
                <h5 class="details__category h5">Problem Solving & Adaptability</h5>
                <div class="details__text">Strong problem-solving skills and adaptability in various project environments.</div>
              </div>
            </div>
          </div>
        </div>
       
      <div class="wrapper wrapper_gradient">
        <div class="cases cases_main" id="cases">
          <div class="cases__center center">
            <div class="cases__stage stage" data-aos="animation-scale-y">Portfolio</div>
            <h2 class="cases__title h1" data-aos="animation-scale-y" data-aos-delay="150">Look at My <br>Projects.</h2>
            <div class="cases__list js-owl" data-items-mobile-portrait="1" data-items-mobile-album="1" data-autoheight="">
              <a class="cases__item" data-aos="animation-translate-y" data-aos-delay="" href="#">
                <div class="cases_preview"><img class="cases_pic" src="img/organ donation.jpg" alt="">
                  <div class="cases__box">Organ Donation App</div>
                </div>
                <div class="cases__body">
                  <h4 class="cases__info h4">A web application promoting organ donation awareness.</h4>
                  <div class="cases__text">HTML, CSS, JavaScript</div>
                </div>
              </a>
              <a class="cases__item" data-aos="animation-translate-y" data-aos-delay="200" href="#">
                <div class="cases_preview"><img class="cases_pic" src="img/cases-pic-2.png" alt="">
                  <div class="cases__box">Admin Dashboard</div>
                </div>
                <div class="cases__body">
                  <h4 class="cases__info h4">Developed for CeduraTech to monitor events and customer purchase history.</h4>
                  <div class="cases__text">React.js, Next.js</div>
                </div>
              </a>
            </div>
          </div>
         
      <div class="wrapper wrapper_dark">
        <div class="contacts" id="contacts">
          <div class="contacts__center center">
            <div class="contacts__container">
              <div class="contacts__wrap">
                <div class="contacts__stage stage" data-aos="animation-scale-y">Say hello 👋</div>
                <h2 class="contacts__title h1" data-aos="animation-scale-y" data-aos-delay="200">Let’s Work <br>Together.</h2>
                <div class="contacts__info" data-aos="animation-scale-y" data-aos-delay="400">I’d love to meet up with you to discuss your venture, and potential collaborations.</div>
              </div>
              <div class="contacts__row">
                <div class="contacts__details" data-aos="animation-translate-y">
                  <a class="contacts__line" href="mailto:khimahasanthi@gmail.com">
                    <div class="contacts__icon"><svg class="icon icon-email">
                        <use xlink:href="img/sprite.svg#icon-email"></use>
                      </svg></div>
                    <div class="contacts__text">khimahasanthi@gmail.com</div>
                  </a>
                  <div class="contacts__line">
                    <div class="contacts__icon"><svg class="icon icon-place">
                        <use xlink:href="img/sprite.svg#icon-place"></use>
                      </svg></div>
                    <div class="contacts__text">
                      <p>Hyderabad</p>
                      <p></p>
                    </div>
                  </div>
                  <a class="contacts__line" href="tel:+918688631394">
                    <div class="contacts__icon"><svg class="icon icon-phone">
                        <use xlink:href="img/sprite.svg#icon-phone"></use>
                      </svg></div>
                    <div class="contacts__text">+91 8688631394</div>
                  </a>
                </div>
                <form class="contacts__form" data-aos="animation-translate-y" data-aos-delay="200">
                  <div class="contacts__field field">
                    <div class="field_wrap"><input class="field_input" type="text" name="name" placeholder="Name">
                      <div class="field__icon"><svg class="icon icon-profile">
                          <use xlink:href="img/sprite.svg#icon-profile"></use>
                        </svg></div>
                    </div>
                  </div>
                  <div class="contacts__field field">
                    <div class="field_wrap"><input class="field_input" type="email" name="email" placeholder="Email">
                      <div class="field__icon"><svg class="icon icon-send">
                          <use xlink:href="img/sprite.svg#icon-send"></use>
                        </svg></div>
                    </div>
                  </div>
                  
                  <div class="contacts__field field field_textarea">
                    <div class="field_wrap"><textarea class="field_textarea" name="message" placeholder="Message"></textarea>
                      <div class="field__icon"><svg class="icon icon-message">
                          <use xlink:href="img/sprite.svg#icon-message"></use>
                        </svg></div>
                    </div>
                  </div>
                  <div class="contacts__btn">
                    <a href="mailto:khimahasanthi@gmail.com">
                      <button class="btn btn_purple" type="button"><span class="btn__text">Let’s Talk</span><svg class="icon icon-arrow-right">
                        <use xlink:href="img/sprite.svg#icon-arrow-right"></use>
                      </svg></button>
                    </a>
                  </div>
                </form>
              </div>
              <div class="contacts__category h5">Let’s connect</div>
              
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="footer__center center">
            <div class="footer_body"><a class="footerlogo" href="index.html"><img class="footer_pic" src="" alt=""></a>
              <div class="footer__wrap">
                <div class="footer__title h1">You only have one chance to make a first impression.</div>
                <div class="footer__info h4" style="color: white;">Let’s make it an amazing one.</div>
              </div>
              
            </div>
            <div class="footer__bottom">
              <div class="footer_copyright">© 2024, Hima Hasanthi.</div><a class="footer_scroll js-scroll" href="#header">Back to top</a>
            </div>
          </div>
         
        </div>
      </div>
      <div class="cursor"></div>
    
    <script src="js/app.js"></script>
    <script src="js/common.js"></script>
  </body>
</html>